html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#webcam {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  filter: FlipH;
}

#gesture-canvas {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  filter: FlipH;
  z-index: 9;
}

#webcam-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#app-title {
  z-index: 5;
}

.tutor-text {
  z-index: 5;
}
